@font-face {
  font-family: Family1;
  src: url("/fonts/couture.otf");
}
@font-face {
  font-family: Family2;
  src: url("/fonts/Provato.ttf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Family1;
  color: #ffffff;
  cursor: pointer;
}
*::-webkit-scrollbar {
  display: none;
}
html,
body {
  height: 100%;
  width: 100%;
}
body {
  background: #111;
}
#main{
  overflow: hidden;
}
nav {
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 20px;
  padding-top: 30px;
  z-index: 9999;
}
nav #nav-start {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 30%;
}
nav #nav-start #logo-text {
  font-size: 0.8em;
}
nav #nav-menus {
  display: flex;
  justify-content: space-evenly;
  width: 70%;
  align-items: center;
  gap: 20px;
  font-size: 0.7em;
}
nav #nav-menus a {
  text-decoration: none;
  color: #ffffffeb;
  text-transform: lowercase;
}
#page1{
    min-height: 100vh;
    width: 100%;
    padding: 8vw 3vw 4vw;
    display: grid;
    place-items: center;
}
#page1-sec{
    height: 90%;
    width: 100%;
    position: relative;
}
#page1-sec .imagecontainer{
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 10;
    border-radius:20px;
    overflow: hidden;
}

#page1-sec .imagecontainer img{
    height: 100%;
    width: 0%;
    object-fit: cover;
}
#page1-text{
    position: absolute;
    bottom: -10%;
    left: 50%;
    height: 80px;
    width: 400px;
    overflow: hidden;
    transform: translateX(-20%);
    z-index: 9999;
}
#page1-text h1{
    position: absolute;
    top: 100%;
    font-size: 5vw;
    z-index: 9999;
}
#counter{
  min-height: 50vh;
  width: 100%;
  padding: 3vw 5vw;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 10px;
}
#counter .counter-text{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 15px;
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 20px;
}
#page2 {
  height: 100vh;
  width: 300vw;
  overflow: hidden;
}
#page2 #page2-scroller{
  display: flex;
}
#page2 section{
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  box-shadow: inset 15px 15px 10px rgba(0, 0, 0, 0.6);
}
.inner-section-text{
  width: 50%;
  height: 100%;
}
.inner-section-image{
  width: 50%;
  height: 100%;
  position: relative;
}
.inner-section-image .image-box{
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: 50%;
  background-repeat: no-repeat;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}
.inner-section-image .image-box1{
  background-image: url('/assets/illustrations/degreeholder.png');
}
.inner-section-image .image-box2{
  background-image: url('/assets/illustrations/astronaut.png');
  background-size: 60%;
}
.inner-section-image .image-box3{
  background-image: url('/assets/illustrations/innovation.png');
  background-size: 60%;
}
.inner-section-text{
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  padding: 0 5vw;
}
.inner-section-text>h1{
  padding-bottom: 5vw;
  font-size: 4vw;
  color: #626262;
}
#horizontal-text{
  display: flex;
  justify-content: space-between;
  align-items: start;
  flex-direction: column;
  height: max-content;
  background: #ffffff;
  border-radius: 10px;
  padding: 4vw;
}
#horizontal-text h1{
  padding: 1vw 0vw;
  border-bottom: 1px solid #000000;
  color: #000;
  font-size: 1em;
}
#page3{
  min-height: 100vh;
  width: 100%;
  padding: 2vw 4vw;
}
#accordin{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  border-top: 1px solid #ccc;
  padding: 4vw 2vw;
}
#accordin .item{
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 15vh;
  width: 100%;
  background: #ffffff4a;
  border-radius: 10px;
  transition: all 0.2s ease-in-out;
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1vw 2vw;
}
.accordin-content{
  height: 100%;
  width: 100%;
}
#accordin .item .feature-title{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.feature-description{
  height: 100%;
  width: 100%;
  text-align: left;
  padding-top: 4vw;
  color: #000;
}
.accordin-head{
  font-size: 4vw;
  padding: 4vw 2vw;
}

#footer{
  height: 70vh;
  width: 100%;
  background: rgb(59, 59, 59);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  padding: 1vw 3vw;
}
#footerfirst{
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 30% 40% 30%;
  gap: 10px;
}
.footer-content{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}
.footer-content p{
  font-weight: 100;
  font-size: 1vw;
  text-align: center;
  color: #8c8c8c;
}
.footer-content input{
  background-color: #2b6eb141;
  padding: 1vw 2vw;
  border-radius: 10px;
  font-size: 1vw;
  border:none;
  border-bottom: 1px solid #000;
  outline: none;
}
.footer-content button{
  background-color: #b97c3ba4;
  padding: 1vw 2vw;
  border-radius: 10px;
  font-size: 1.5vw;
  border:none;
  border-bottom: 1px solid #000;
  outline: none;
}