@font-face {
  font-family: Family1;
  src: url("/fonts/couture.otf");
}
@font-face {
  font-family: Family2;
  src: url("/fonts/Provato.ttf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Family1;
  color: #ffffff;
  cursor: pointer;
}

*::-webkit-scrollbar {
  display: none;
}
html,
body {
  height: 100%;
  width: 100%;
}
body {
  background: #111;
}
nav {
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 20px;
  padding-top: 30px;
  z-index: 9999;
}
nav #nav-start {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 30%;
}
nav #nav-start #logo-text {
  font-size: 0.8em;
}
nav #nav-menus {
  display: flex;
  justify-content: space-evenly;
  width: 70%;
  align-items: center;
  gap: 20px;
  font-size: 0.7em;
}
nav #nav-menus a {
  text-decoration: none;
  color: #ffffffeb;
  text-transform: lowercase;
}
#main{
  height: 100%;
  width: 100%;
}
#page1{
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#page1container{
  height: 80%;
  width: 80%;
}
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide{
  text-align: center;
  font-size: 18px;
  background: transparent;
  display: flex;
  justify-content: end;
  align-items: center;
  flex-direction: column;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  filter:contrast(0.9);
}
.swiper-slide h1,.swiper-slide p{
  padding: 2vw 4vw;
  background: #0000009a;
}
.swiper-slide-1{
  background-image: url('https://www.gcoekolhapur.ac.in/assets/img/slider/22.png');
}
.swiper-slide-2{
  background-image: url('https://www.gcoekolhapur.ac.in/assets/img/slider/11.png');
}
.swiper-slide-3{
  background-image: url('https://www.gcoekolhapur.ac.in/assets/img/slider/33.png');
}
.swiper-slide-4{
  background-image: url('https://www.gcoekolhapur.ac.in/assets/img/slider/66.png');
}
.swiper-slide-5{
  background-image: url('https://www.gcoekolhapur.ac.in/assets/img/slider/77.png');
}
.swiper-slide-6{
  background-image: url('https://www.gcoekolhapur.ac.in/assets/img/slider/88.png');
}
.swiper-slide-7{
  background-image: url('https://www.gcoekolhapur.ac.in/assets/img/slider/99.png');
}
.swiper-slide-8{
  background-image: url('https://www.gcoekolhapur.ac.in/gallerypics/OHAZ4wLN92.png');
}
.swiper-slide-9{
  background-image: url('https://www.gcoekolhapur.ac.in/gallerypics/oUGWM7DQuz.png');
}
#page1 .swiper-pagination-bullet {
  background-color: #ffffff;
}


#page1 .swiper-pagination-bullet-active {
  background-color: #33cfff;
}

.content-section{
  height: 100vh;
  width: 100%;
  padding: 2vw 3vw;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #5e5d5d;
}
.event-details{
  height: 100%;
  width: 100%;  
}
.gallery-cards{
  background: rgb(46, 46, 46);
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#page2 .swiper1 {
  width: 240px;
  height: 320px;
}
#page3 .swiper3 {
  width: 240px;
  height: 320px;
}
#page4 .swiper4 {
  width: 240px;
  height: 320px;
}
#page5 .swiper5 {
  width: 240px;
  height: 320px;
}
.swiper-slide{
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#page2 .swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
}
.event-details{
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  padding: 0 2vw;
}
.event-details h1{
  font-size: 5vw;
  color: #8e8e8e;
}
.event-details p{
  font-size: 1.5vw;
  color: #3f3f3f;
}
#camera{
  position: absolute;
  width: 10%;
  z-index: 9999;
  bottom: 10%;
  left: 5%;
}
#cursor{
  position: fixed;
  top: 0;
  left: 0;
  height: 100px;
  width: 100px;
  mix-blend-mode: difference;
  background: #ccc;
  border-radius: 50%;
  scale:0;
  opacity: 0;
  pointer-events: none;
}