@font-face {
   font-family: Family1;
   src: url('/fonts/couture.otf');
}
@font-face {
   font-family: Family2;
   src: url('/fonts/Provato.ttf');
}
*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: Family1;
   color: #ffffff;
   cursor: pointer;
}

*::-webkit-scrollbar{
   display: none;
}
html,
body{
   height:100%;
   width:100%;
}
body{
   background: #111;
}
nav{
   width: 100%;
   position: fixed;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding-left: 30px;
   padding-right: 30px;
   padding-bottom: 20px;
   padding-top: 30px;
   z-index: 9999;
}
nav #nav-start{
   display: flex;
   justify-content: start;
   align-items: center;
   width: 30%;
}
nav #nav-start #logo-text{
   font-size: 0.8em;
}
nav #nav-menus{
   display: flex;
   justify-content: space-evenly;
   width: 70%;
   align-items: center;
   gap: 20px;
   font-size: 0.7em;
}
nav #nav-menus a{
   text-decoration: none;
   color: #ffffffeb;
   text-transform: lowercase;
}
#page1{
   height: 100vh;
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}
#page1 h3{
   font-size: 3vw;
   font-weight: 900;
   -webkit-text-fill-color: transparent;
   -webkit-text-stroke: 1px;
   -webkit-text-stroke-color: #ccc;
}
#page1 #head1{
   font-size: 5vw;
   font-weight: 900;
}
#page1 #head2{
   font-size: 3vw;
   font-weight: 900;
}
#page1 p{
   font-size: 0.8em;
   color: #fff;
   width: 70%;
   text-align: center;
   margin-top: 2em;
   letter-spacing: 1.01px;
   font-family: Family2;
}
.animated-button{
   position: absolute;
   bottom: 13%;
   z-index: 99999;
}
.page-button-xyz{
  all: unset;
  width: 100px;
  height: 30px;
  font-size: 16px;
  background: transparent;
  border: none;
  position: relative;
  color: #f0f0f0;
  cursor: pointer;
  z-index: 1;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.page-button-xyz::after,
.page-button-xyz::before {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -99999;
  transition: all .4s;
}

.page-button-xyz::before {
  transform: translate(0%, 0%);
  width: 100%;
  height: 100%;
  background: #28282d;
  border-radius: 10px;
}

.page-button-xyz::after {
  transform: translate(10px, 10px);
  width: 35px;
  height: 35px;
  background: #ffffff15;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 50px;
}

.page-button-xyz:hover::before {
  transform: translate(5%, 20%);
  width: 110%;
  height: 110%;
}

.page-button-xyz:hover::after {
  border-radius: 10px;
  transform: translate(0, 0);
  width: 100%;
  height: 100%;
}

.page-button-xyz:active::after {
  transition: 0s;
  transform: translate(0, 5%);
}
.page-button-xyz a{
   text-decoration: none;
}
.animation1{
   overflow: hidden;
}
#page3{
   border-top: 1px solid #28282d;
   padding: 10px;
   height: 100vh;
   width: 100%;
   display: flex;
   gap: 10px;
}
#page3-left{
   height: 100%;
   width: 40%;
   border-radius: 20px;
   display: flex;
   justify-content: space-evenly;
   align-items: center;
   flex-direction: column;
   /* Blur code */
   /* background: #ffffff15;
   backdrop-filter: blur(5px);
   -webkit-backdrop-filter: blur(5px); */
}
#page3-left h1{
   font-size: 3em;
   padding: 10px;
   color: #636363;
}
#page3-left p{
   font-size: 0.9em;
   text-align: left;
   color: #636363;
}
#page3-right{
   height: 100%;
   width: 60%;
   border-radius: 20px;
   display: grid;
   grid-template-rows: repeat(1fr,6);
}
#page3-right .page3-hover-right{
   height: 100%;
   width: 100%;
   border-bottom: 1px solid #d1d1d16f;
   position: relative;
}
#page3-right .page3-hover-right h1{
   position: absolute;
   bottom: 0%;
   color: #303030;
}
#page3-right .page3-hover-right a{
   color: #303030;
   text-decoration: none;
}
#page3-right .page3-hover-right .animated_img{
   position: absolute;
   width: 15vw;
   height: 15vw;
   border-radius: 50%;
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
   opacity: 0;
   scale: 0;
}
#page3-right .page3-hover-right .animated_img1 {
   background-image: url('/assets/animtedImages/aboutus.jpg');
}

#page3-right .page3-hover-right .animated_img2 {
   background-image: url('/assets/animtedImages/gallery.avif');
}

#page3-right .page3-hover-right .animated_img3 {
   background-image: url('/assets/animtedImages/events.webp');
}

#page3-right .page3-hover-right .animated_img4 {
   background-image: url('/assets/animtedImages/blogs.avif');
}

#page3-right .page3-hover-right .animated_img5 {
   background-image: url('/assets/animtedImages/guidlines.webp');
}

#page3-right .page3-hover-right .animated_img6 {
   background-image: url('/assets/animtedImages/joinis.jpg');
}
#page4{
   margin-top: 10vh;
   min-height: 100vh;
   width: 100%;
   display: grid;
   grid-template-columns: 1fr 500px;
   gap: 10px;
   padding: 2vw;
}
#page4-left-text{
   width: 100%;
   height: 100%;
   font-size: 2.5vw;
   display: grid;
   place-items: center;
}
#page4-left-text h1{
   color: #7a7a7a;
}
#page4-right-video{
   position: relative;
   width: 100%;
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   object-fit: cover;
   overflow: hidden !important;
}
#page4-right-video video{
   border-radius: 10px;
   position: absolute;
   width: 100%;
   height: 100%;
   top: 0;
   opacity: 0;
   transition: all ease-in 0.4s;
   border-radius: 20px;
}
#page4-right-video img{
   width:640px;
   height: 357px;
}
#page5{
   height: 100vh;
   width: 100%;
   border-top: 1px solid #ccc;
}
#page5{
   position: relative;
   font-size: 3em;
   white-space: nowrap;
   overflow: hidden;
}
#page5-top{
   width: 100%;
   position:absolute;
   height: 50vh;
   top:0%;
   left:0%;
   overflow: hidden;
   z-index: 99;
}
#page5-center{
   height: 100vh;
   width: 100%;
   position:relative;
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 10px;
}
.page5-center-content1{
   height: 100%;
   width: 50%;
   background-image: url('/assets/illustrations/startup.png');
   background-position: center;
   background-size: 80%;
   background-repeat: no-repeat;
}
.page5-center-content2{
   overflow: hidden;
   position: relative;
   width: 50%;
   height: 100%;
   font-size: 14px;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}
.page5-center-content2 h3{
   font-size: 6em;
   white-space: wrap;
   color: #636363;
}
.page5-center-content2 p{
   font-size: 1em;
   white-space: wrap;
   color: #303030;
}

#page5-bottom{
   width: 100%;
   position:absolute;
   height: 50vh;
   bottom:0%;
   left:0%;
   z-index: 99;
   overflow: hidden;
}
#page5 h1{
   position:absolute;
   left: 50%;
   transform: translateX(-50%);
}
#page5-top h1{
   bottom: -20%;
}
#page5-bottom h1{
   top: -19%;
}
#page6{
   min-height: 100vh;
   width: 100%;
   padding-top: 10vh;
   margin-bottom: 5vh;
   position: relative;
   overflow: hidden;
   border-top: 1px solid #636363;
}
#page6 h1{
   text-align: center;
   font-size: 6vw;
   margin-bottom: 5vh;
}
#page6 #success{
   height: 100vh;
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 10px;
   padding: 0 50px;
}
#success .success-story{
   height: 100vh;
   border-radius: 20px;
   position: relative;
   width: 150px;
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
   opacity: 0.3;
   transition: all ease-in-out 0.4s;
}
#success .success-story:hover{
   opacity: 1;
   width: 350px;
}
#success .success-story h1{
   position: absolute;
   top: 50%;
   left: 20%;
   transform: translate(-50%,-50%);
   transform: rotate(90deg);
   font-size: 2vw;
   opacity: 1;
   z-index: 9;
   transition: all ease-in-out 0.3s;
}
#success .success-story:hover h1{
   transform: rotate(0deg);
   background-color: #000;
}
#success .success-story p{
   width: 100%;
   position: absolute;
   top: 80%;
   left: 60%;
   transform: translate(-80%,-40%);
   transition: all ease 0.5s;
   font-size: 1vw;
   opacity: 0;
   background-color: rgba(0, 0, 0, 0.808);
}
#success .success-story:hover p{
   opacity: 1;
}
#success .success-1{
   background-image: url('/assets/success/p1.webp');
}
#success .success-2{
   background-image: url('/assets/success/p2.webp');
}
#success .success-3{
   background-image: url('/assets/success/p3.webp');
}
#success .success-4{
   background-image: url('/assets/success/p4.jpeg');
}
#page8{
   height: 100vh;
   width: 100%;
   background: #000;
   position: relative;
   overflow: hidden;
}
#page8 .imagetrail{
   height: 300px;
   width: 200px;
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
   position: absolute;
   opacity: 0;
   scale: 0;
}
#page8 .img1{
   background-image: url('/assets/imageTrail/1.jpg');
}
#page8 .img2{
   background-image: url('/assets/imageTrail/2.jpg');
}
#page8 .img3{
   background-image: url('/assets/imageTrail/3.jpg');
}
#page8 .img4{
   background-image: url('/assets/imageTrail/4.jpg');
}
#page8 .img5{
   background-image: url('/assets/imageTrail/5.jpg');
}
#page8 .img6{
   background-image: url('/assets/imageTrail/6.jpg');
}
#page8 .img7{
   background-image: url('/assets/imageTrail/7.jpg');
}
#page8 .img8{
   background-image: url('/assets/imageTrail/8.jpg');
}
#page8 h1{
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%,-50%);
   font-size: 6vw;
   color: #ffffff;
}
#page8 p{
   position: absolute;
   top: 80%;
   left: 50%;
   transform: translate(-50%,-50%);
   font-size: 2vw;
   color: #6e6e6eb9;
}
#page6 #page6-photo{
   width:20%;
   position: absolute;
   top:30%;
   transform: rotate(-20deg);
   z-index: 99;
}
#page6 #page6-photo-2{
   width:10%;
   position: absolute;
   top:10%;
   right: 10%;
   transform: rotate(20deg);
   z-index: 99;
}
#page6 #page6-photo-3{
   width:20%;
   position: absolute;
   bottom:10%;
   right: 10%;
   transform: rotate(-40deg);
   z-index: 99;
}
#page7{
   min-height: 100vh;
   width: 100%;
   padding: 2vw;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}
#page7 .upper{
   width: 100%;
   height: 50vh;
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 20px;
   font-size: 5vw;
}
#page7 .bottom{
   padding: 4vw;
   min-height: 100vh;
   width: 100%;
   display: grid;
   place-content : center;
   grid-template-columns: repeat(2,300px);
   grid-template-rows: repeat(2,300px);
   gap: 10px;
}
#page7 .bottom .faculty{
   height: 100%;
   width: 100%;
   border-radius: 20px;
   background-position: center;
   background-size: 290px;
   background-repeat: no-repeat;
   transition: all ease 0.5s;
   filter: grayscale(0.3);
   overflow: hidden;
}

#page7 .bottom .faculty:hover{
   background-size:350px ;
   background-position: left;
   filter: grayscale(0);
}

#page7 .bottom .faculty1{
   background-image: url('/assets/administration/fac1.jpg');
}
#page7 .bottom .faculty2{
   background-image: url('/assets/administration/fac2.jpg');
}
#page7 .bottom .faculty3{
   background-image: url('/assets/administration/fac3.jpg');
}
#page7 .bottom .faculty4{
   background-image: url('/assets/administration/fac4.jpg');
}
#page7 .bottom h1{
   font-size: 1vw;
   position: absolute;
   bottom:10%;
   left: 50%;
   transform: translate(-20%,-50%);
   transition: all ease 0.5s;
}
#page7 .bottom .faculty:hover h1{
   font-size: 1.5vw;
}

#cursor {
   opacity: 0;
   scale:0;
   position: fixed;
   height: 100px;
   width: 100px;
   background: #6d6d6d;
   border-radius: 50%;
   pointer-events: none;
   z-index: 999;
   mix-blend-mode: difference;
}
